body {
  padding: 2% 5%;
  font-family: avenir, arial, tahoma, monospace, sans-serif;
}

* {
  background: rgb(32, 32, 32);
  color: whitesmoke;
  font-family: avenir, arial, helvetica, sans-serif;
  border-radius: 0.5rem;
  transition: 0.25s;
  box-sizing: border-box;
}

button {
  padding: 0.5rem;
  border: none;
  background: rgb(50, 50, 50);
  box-shadow: 2px 2px 5px black;
}

input,
textarea {
  padding: 0.5rem;
}

button:not(:disabled):hover,
input:not(:disabled):hover,
textarea:not(:disabled):hover,
button:not(:disabled):focus,
input:not(:disabled):focus,
textarea:not(:disabled):focus {
  background: lime;
  color: black;
}

a:not(:disabled):hover,
a:not(:disabled):focus {
  color: lime;
}

button:not(:disabled):focus,
a:not(:disabled):focus {
  text-decoration: underline;
}

a[target="_blank"]::after {
  /* <a aria-description="(opens in new window)" target="_blank" href="..."> */
  content: " ↗️";
}

code {
  font-family: monospace;
}
